/* You can add global styles to this file, and also import other style files */
*, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
          to bottom,
          rgba(73, 80, 87, 0.815),
          rgb(27, 30, 34)
        );
  height: 100vh;
  font-family: 'Franklin Gothic Medium',  Arial, sans-serif;
  
}

  
